<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="../../../clay.png" type="image/x-png">
    <title>clay.js - 用例测试 - arc 画弧辅助计算</title>
    <script src="../../../libs/clay.js"></script>
</head>

<body></body>

<script>

    /**
     * 准备arc计算对象
     * */
    var arcCalc = $$.arcCalc()
        // 设置内外半径
        .setRadius(0, 100)
        // 设置弧中心
        .setCenter(100, 100)
        .setDeg(0, Math.PI);

    // 使用对象计算
    var centroid = arcCalc.getCentroid();//计算『质心』
    var lines = arcCalc.getLines(10, 10);//计算文字连线

    console.log(centroid, lines);

</script>

</html>
