<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="../../../clay.png" type="image/x-png">
    <title>clay.js - 用例测试 - tree 画树辅助计算</title>
    <script src="../../../libs/clay.js"></script>
</head>

<body></body>

<script>
    var nodes = [
        // 结点名称、父节点名称
        ["手绘", null],
        ["水粉", "手绘"],
        ["油画", "手绘"],
        ["素描", "手绘"],
        ["中国画", "手绘"],
        ["空间透视", "素描"],
        ["色彩五大调", "素描"],
    ];

    $$('<svg>' +
        // 绘制连线
        '<g class="line"></g>' +
        // 绘制结点
        '<g class="node"></g>' +
        '</svg>').appendTo('body')
        .attr('width', '400')
        .attr('height', '400');

    // 创建布局对象
    var tree = clay.treeLayout()

        /**
         * 基本配置
         */

        // 获取根结点
        .root(function (initTree) {
            return initTree[0];
        })

        // 获取孩子结点
        .child(function (parentTree, initTree) {
            var children = [], i;
            for (i = 0; i < nodes.length; i++) {
                if (initTree[i][1] == parentTree[0])
                    children.push(initTree[i]);
            }
            return children;
        })

        // 获取结点标志id
        .id(function (treedata) {
            return treedata[0];
        })

        /**
         * 绘图配置
         */
        .drawer(function (nodes, rootid, size) {

            var i, node;
            nodes = $$.treeCalc({
                // "type": "circle",
                // "type": "LR",
                // "type": "RL",
                "type": "BT",
                // "type": "TB",
                "radius": 200,
                "cx": 200,
                "cy": 200,
                "width": 200,
                "height": 200
            })(nodes, size);
            for (i in nodes) {

                node = nodes[i];

                // 绘制结点
                $$('<circle target=' + node.data[0] + ' r="3" fill="white" stroke="red" stroke-width="1"/>')
                    .appendTo('.node')
                    .attr('cx', node.left)
                    .attr('cy', node.top);

                // 绘制连线
                if (node.pid)
                    $$('<line source=' + node.data[1] + ' target=' + node.data[0] + ' stroke-width="1" stroke="gray" fill="none"></line>')
                        .appendTo('.line')
                        .attr('x1', nodes[node.pid].left)
                        .attr('y1', nodes[node.pid].top)
                        .attr('x2', node.left)
                        .attr('y2', node.top);

            }

        });

    //  启动绘图
    tree(nodes);

</script>

</html>
