<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset='utf-8'>
    <title>离线小助手</title>
    <link rel="icon" href="favicon.ico" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no,maximum-scale=1" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <meta name="Keywords" content="离线小助手" />
    <meta name="description" content="离线小助手" />
    <meta name="author" content="心叶" />
    <link rel="apple-touch-icon" sizes="52x52" href="52icon.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="72icon.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="120icon.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="144icon.png" />
    <link rel="stylesheet" href="../easycss-1.0.0.css">
    <style>
        body>footer {
            width: 10rem;
            margin: auto;
            line-height: 1rem;
            font-size: .14rem;
            color: #43515a;
        }

        body>section {
            width: 10rem;
            margin: auto;
            background-color: #fff;
            padding: 15px;
            margin-top: 10px;
            border-radius: 4px;
        }
    </style>
</head>

<body>
    <section>

    </section>
    <footer>
        心叶 &copy;2007-2019 走一步，再走一步
    </footer>
</body>

</html>