body>footer {
    width: 10rem;
    margin: auto;
    line-height: 1rem;
    font-size: .14rem;
    color: #43515a;
}

body>section {
    font-size: 0;
    width: 10rem;
    margin: auto;
    background-color: #fff;
    margin-top: .1rem;
    padding: .3rem;
}

.platform {
    font-size: 0;
}

.platform>* {
    font-size: .16rem;
    width: calc(50% - .15rem);
    display: inline-block;
    box-sizing: border-box;
    height: 4rem;
    vertical-align: top;
}

.platform>*:not(.warn) {
    border: 3px solid #f6f6f6;
    border-radius: 10px;
}

.platform>div {
    margin-right: .15rem;
    overflow: auto;
    text-align: center;
    line-height: 4rem;
}

.platform>div>img {
    display: inline-block;
    vertical-align: middle;
}

.platform>textarea {
    margin-left: .15rem;
    resize: none;
    border: none;
    outline: none;
    background-color: rgb(246, 246, 246);
    padding: .2rem;
}

.platform>.warn {
    height: 2em;
    line-height: 2em;
    width: 100%;
    margin-top: .3rem;
    background-image: url('../../image/warn.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 2em;
    color: #fce246;
}

#helpImg {
    position: fixed;
    top: 100vh;
}