<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../../libs/easycss-1.3.1.min.css">
    <link rel="stylesheet" href="../../../libs/prettify.css">
    <link rel="stylesheet" href="../../../doc.css">
    <script src="../../../libs/prettify.js"></script>
</head>

<body onload="prettyPrint()">
    <header>
        arc 画圆弧辅助计算
    </header>
    <p>
        绘图pie图或者单纯的绘制一个圆弧的时候，有时需要在圆弧上添加提示文字，或带连线的提示文字，文字或连线的位置等计算，就是这里需要解决的问题。
    </p>
    <h2>
        必须配置
    </h2>
    <pre class='prettyprint lang-js'>/**
 * 准备arc计算对象
 * */
var arcCalc = $$.arcCalc()

// 设置内外半径
.setRadius(r1, r2)

// 设置弧中心
.setCenter(cx, cy)

// 设置圆弧起点弧度，和旋转弧度
.setDeg(beginA, rotateA);</pre>
    <h2>
        计算接口
    </h2>
    <h4>
        "质心"
    </h4>
    <pre class='prettyprint lang-js'>var centroid = arcCalc.getCentroid();</pre>
    <h4>
        文字连线
    </h4>
    <pre class='prettyprint lang-js'>var lines = arcCalc.getLines(line1_len, line2_len);</pre>
    <p>
        文字连线的意思是，计算二条折线的三个点的位置，需要二个参数，分别表示二段折线的长度，返回三个点的位置。
    </p>
</body>
